﻿@model SiteMonitoring.Application.Models.VmSite

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить этот сайт?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.SiteId)
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
