﻿@model VmAuthorize

<h2>Вход в админку</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Введите Email</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>

